$bg-default : #000408;
$bg-hover : #1a1a1a;
$transparent : rgba (0,0,0,0);
$icon-list : "chrome","firefox","adobe-cc","github-shell","github","opera","lightroom","steam","edge","personalize","recycle";
$task-list : "explorer","outlook","skype","edge","chrome-task","firefox-task","opera-task","gimp","photoshop","brackets","designer","npp","vstudio","git-task";
$close-hover : #e61b1b;
$modal-default : #e6e6e6;
$modal-hover : #bfbfbf;